<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Simple Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                               Worker Id
                            </th>
                            <th>
                                LeaveApplication                               
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                start date
                            </th>
                            <th>
                                End date
                            </th>
                        </thead>
                        <tbody *ngFor="let leave of leaveAppList">
                            <tr (click)="open(content,leave)">
                                <td> {{leave.WorkerId}} 
                                </td>
                                <td>
                                  <span  *ngIf="leave.LeaveApplicationCode;else noLeaveCode">{{leave.LeaveApplicationCode}}</span>
                                  <ng-template #noLeaveCode>
                                    <span>Not Synced</span>
                                </ng-template>
                                </td>
                                <td>
                                    {{leave.Status}} 
                                </td>
                                <td>
                                    {{leave.PeriodFrom}} 
                                </td>     
                                <td>
                                    {{leave.PeriodTo}} 
                                </td>                           
                            </tr>                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Leave Edit</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group" >
            <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                     Leave Type
                    </th>
                    <th>
                      Start Date
                    </th>
                    <th>
                      End Date
                    </th>
                    <th>
                      Actual Start Date
                    </th>
                    <th>
                        Actual End Date
                      </th>
                      <th>
                       Days
                      </th>
                      <th>
                        Balance Days
                       </th>
                       <th>
                        Remarks
                       </th>
                  </thead>
                  <tbody *ngFor="let leaveline of selectedLeave.LeaveApplicationLine">
                    <tr>
                      <td>
                      {{leaveline.AbsenceCodeDescription}}
                      </td>
                      <td>
                        {{leaveline.StartDate}}
                      </td>
                      <td>
                        {{leaveline.EndDate}}
                      </td>
                      <td>
                        {{leaveline.ActualStartDate}}
                      </td>
                      <td>
                        {{leaveline.ActualEndDate}}
                      </td>
                      <td>
                        {{leaveline.LeaveApplied}}
                      </td>
                      <td>
                        {{leaveline.Balance}}
                      </td>
                      <td>
                        {{leaveline.Remarks}}
                      </td>
                    </tr>                   
                  </tbody>
                </table>
              </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template> 
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
  <pre>{{closeResult}}</pre>